
.body2_body{
    /* background-color: yellow; */
    margin-top:0px;
    width:100%;
    text-align:left;
}

/* .body2_body > a{
    height: 60px;
    width:90px;
    margin:auto;
    margin-left:43%;
    margin-top:3rem;
} */
.body2_parameter_boxes{
    /* max-height: 300px; */
}
.body2_button{
    /* margin:auto; */
    /* margin-top:3rem; */
    /* margin-bottom:3rem; */

    width: 170px;
    height: 60px;
    text-decoration:none;
    /* display: inline-block; */
    outline: none;
    cursor: pointer;
    border-style: none;
    color: white;
    background-color:#010101;
    border-radius: 200px;
    overflow: none;
    text-align: center;

}
.body2_button:hover {
    background-color: white;
    color: black;
    border: 0.5px solid  black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.19);
}
.parameterx{
    height:50px;
    margin-top:2rem;
    margin-left:50px;
    border-radius: none;
    background-color: rgba(128, 128, 128, 0.274);
    border: none;
    padding: 20px;
}
/* ::placeholder {
    font-size: 1em;
    color: gray;
    opacity:0.5;
    padding: 5px;
    text-align:center;
  }
  .sidebar {
    margin-top:0px;
    width: 27%;
    height: 100vh;
    background-color: black;
    text-align:center;
    color:white;

  } 
  
  .sidebar-content {
    padding: 20px;
    margin:auto;
    margin-top:4rem;
  } 

  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  
  Active link
   .sidebar a.active {
    background-color: #ddd;
  }
  .sidebar {
    text-align: center;
  }  */
  /* .previousbutton{
    margin-top:100px;
    margin-left:10px;
    width:4.5rem;
    height:2em;
    border-radius:40px;
    background-color:rgb(177, 190, 190);
    border:none;
    font-weight: bold;
} */
/* .nextbutton1:hover {
    background-color: white;
    color: black;
    border: 0.5px solid  black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.19);
} */
.body2_parent{
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.previousbutton{
    height: 50px;
    width: 50% !important;
    border-radius:40px;
    background-color:rgb(255, 255, 255);
    border:none;
    font-weight: bold;
}
.nextbutton2{
    height: 50px;
    width: 50% !important;
    border-radius:40px;
    background-color:rgb(255, 255, 255);
    border:none;
    font-weight: bold;
}

.body2_heading{
    font-family: 'Mrs Sheppards', cursive;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -15px;
    margin-left: 50px;
}

.sidebar2{
    width: 42.35%;
}

.stepb2x1{
    background-color:rgba(255, 255, 255, 0.08);
}

.stepb2x2{
    background-color:rgba(255, 255, 255, 0.251);
}

.loadingx{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
    width: 200px;
  }

.loading-spinner p{
    font-family: 'Proza Libre', sans-serif;
    font-size: 15px;
    margin-top: 50px;
    width: 200px;
    text-align: left;
}
  
  .spinner {
    width: 80px;
    height: 120px;
    position: relative;
    justify-content: center;
  }
  
  .spinner div {
    position: absolute;
    width: 10px;
    height: 20px;
    background: #3498db;
    animation: spinnerAnimation 1.2s ease-in-out infinite;
  }
  
  .spinner div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  
  .spinner div:nth-child(2) {
    left: 24px;
    animation-delay: -0.12s;
  }
  
  .spinner div:nth-child(3) {
    left: 42px;
    animation-delay: 0;
  }
  
  @keyframes spinnerAnimation {
    0% {
      top: 0;
      height: 40px;
    }
    50%,
    100% {
      top: 20px;
      height: 0;
    }
  }

