
/* *{
    top: 0;
    left: 0;
} */

.parent{
    display:flex;
    margin-top:0px;
}

.body1_body{
    /* background-color: red; */
    /* display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle; */
    margin-top:0px;
    margin-left: 50px;
    width:100%;
    text-align:left;
}
.body1_input{
    margin:auto;
}

/*  */
.body1_textspan{
    /* background-color:blue; */
    display:inline-block;
    width: 50%;
    margin:auto;
    text-align:left;
    margin-top:2rem;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;

}

.steps{
    font-family: 'Bebas Neue', sans-serif;
}

/* .body1_data{
    width: 25%;
    margin:auto;
} */
.body1_entry_number{
    /* margin-top:3px; */
    padding: 10px 20px;
}
.body1_dataset_name{
    padding: 10px 20px;
}
.body1_parameter_number{
    padding: 10px 20px;
}
.body1_button{
    margin:auto;
        margin-top:2.2rem;
        margin-bottom:3rem;
        width: 170px;
        height: 60px;
        text-decoration:none;
        display: inline-block;
        outline: none;
        cursor: pointer;
        border-style: none;
        color: white;
        background-color:#010101;
        /* border-radius: 200px; */
        overflow: none;
        text-align: center;

}
.body1_button:hover {
    background-color: white;
    color: black;
    border: 0.5px solid  black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.19);
}
.body1_input{
    border-radius: none;
    margin-top: -10px;
}
.body1_data > input{
    background-color: rgba(128, 128, 128, 0.274);
    /* border: 0.5px solid black; */
    border: none;
}
::placeholder {
    /* font-style: italic; */
    font-size: 1em;
    color: gray;
    opacity:0.5;
    padding: 5px;
    /* font-weight: bold; */
  }
  /* Sidebar container */
.sidebar {
    /* display:flex; */
    margin-top:0px;
    width: 45%;
    height: 100vh;
    background-color: black;
    color:white;

  } 
  
  /* Sidebar content */
  .sidebar-content {
    padding:20px;
    margin:auto;
    margin-top:4rem;
    text-align: left;
    /* color:white; */
  } 
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  Active link
   .sidebar a.active {
    background-color: rgba(255, 255, 255, 0.233);
  }
  .sidebar {
    text-align: center;
  } 
  
.sidebar-content a{
    /* border: 0.5px solid rgba(255, 255, 255, 0.203); */
    font-size: 15px;
    line-height: 55px;
    height: 70px;
}
.step1{
    margin-top:2rem;
    font-size:30px;
    width:100%;
    background-color:rgba(255, 255, 255, 0.251);
    /* border-radius:40px; */
}
.step2{
    margin-top:2rem;
    font-size:30px;
    background-color:rgba(255, 255, 255, 0.08);
    /* border-radius:40px; */
    /* background-color: */
}
.step3{
    margin-top:2rem;
    font-size:30px;
    background-color:rgba(255, 255, 255, 0.08);
    /* border-radius:40px; */
    /* background-color: */
}
.nextbutton1{
    margin-top: 30px;
    width: 45%;
    height: 50px;
    border-radius:40px;
    background-color:rgb(255, 255, 255);
    border:none;
    font-weight: bold;
}
.nextbutton1:hover {
    background-color: white;
    color: black;
    border: 0.5px solid  black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.19);
}

.body1_heading{
    font-family: 'Mrs Sheppards', cursive;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -15px;
}

.body1_sidebar_heading{
    font-family: 'Proza Libre', sans-serif;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -60px;
}
